* {
  margin: 0;
  padding: 0;
}


html, body {
  background: linear-gradient(to bottom, #00BCD0 0%, #00BCD0 35%, #00BCD0 35%, #ECECEC 35%, #ECECEC 100%);
  background-size: 100% 100%;
  color: #333;
  height: 100%;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-family: "Open Sans", helvetica, sans-serif;
}

#backButton {
  position: absolute;
  left: 20px;
  top: 10px;
  color: #004C7C;
  background: white;
  height: 25px;
  width: 50px;
  border-radius: 3px;
  border: none;
  padding-top: 5px;
}
header {
  position: absolute;
  top: -700px;
  z-index: 2;
  max-width: 100%;
  margin: 0 17%;
  margin-top: -10%;
  background: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  color: black;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 30px;
  height: 60%;
  overflow: hidden;

    -webkit-transition: 1s 0.5s;
     -moz-transition: 1s 0.5s;
      -ms-transition: 1s 0.5s;
       -o-transition: 1s 0.5s;
          transition: 1s 0.5s;
}

h1 {
  color: #004C7C;
  text-align: center;
  font-size: 2em;
}

p {
  text-align: center;
}

.intro header {
  top: 25%;
}

video {
  display: block;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#videocontainer, canvas {
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#videocontainer img {
  position: absolute;
  display: none;
  display: block;
  bottom: 0;
  left: 0;
}
#videocontainer.playing img {
  display: block;
}

#controls, #uploaded, #uploading {
  position: absolute;
  width: 600px;
  text-align: center;
  top: -50%;
  left: 50%;
  -webkit-transition: 1s 0.5s;
     -moz-transition: 1s 0.5s;
      -ms-transition: 1s 0.5s;
       -o-transition: 1s 0.5s;
          transition: 1s 0.5s;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

  #controls {
    z-index: 20;
  }
  .button{
    background: #00BCD0;
    color: #FFF;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    width: 40%;
    margin: auto 30%;
    }
iframe {
  position: absolute;
  top: -10%;
 right: 0;
  overflow: auto;
  width: 100%;
  margin: 0;
  height: 100%;
}

#capture {
  font-weight: 300;
  padding: 10px;
}
    
#snap {
  margin-top: 20px;

}
#controls button, #uploaded form, #uploaded button, #uploading  {
  border: none;
  font-size: 18px;
  color: #004C7C;
  width: 48%;
  background: #FFF;
  border-radius: 10px;
  padding: 10px 20px;
  margin: auto 2px;
}

paper-dialog {
  position:absolute;
  font-family: "Open Sans", helvetica, sans-serif;
  border-radius: 10px;
  margin:auto 10%;
  margin-top:80px;
  color: #004C7C;
  text-align: center;
  font-size: 1.3em;
  width:80%;
}

paper-dialog h1 {
  padding: 10px;
}

#uploaded form, #uploaded button {
  width: auto;
}

#uploaded form {
  background: #999;
  margin-bottom: 10px;
}
#uploaded {
  text-align:center;
  width: auto;
  min-height: auto;
}
#controls #resetbutton {
  background: #FFF;
  border: none;
  font-size: 18px;
  color: #004C7C;
  width: 48%;
  border-radius: 10px;
  padding: 10px 20px;
}
#uploaded a {
  color: #fff;
}
#uploaded input {
  font-size: inherit;
}
#cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: transparent;
  display: none;
}
.reviewing #cover {
  display: block;
  -webkit-animation: flash 1s;
     -moz-animation: flash 1s;
   /*-o-animation: flash 1s;*/
      -ms-animation: flash 1s;
          animation: flash 1s;
}
/*
  TODO:
  I turned off the flash animation for Opera as it got stuck
*/

@-webkit-keyframes flash {
  0% { background: transparent; }
  50% { background: #fff; }
  100% { background: transparent;}
}
/*@-o-keyframes flash {
  0% { background: transparent; }
  50% { background: #fff; }
  100% { background: transparent;}
}*/

@-moz-keyframes flash {
  0% { background: transparent; }
  50% { background: #fff; }
  100% { background: transparent;}
}
@-ms-keyframes flash {
  0% { background: transparent; }
  50% { background: #fff; }
  100% { background: transparent;}
}
@keyframes flash {
  0% { background: transparent; }
  50% { background: #fff; }
  100% { background: transparent;}
}

/* states */
.intro #videocontainer, .testing #videocontainer, .testing #canvas, .intro #animation { display: none; }
.playing #videocontainer { display: block; }
.playing #canvas { display: none; }
.playing #animation { display: none;}
.reviewing #videocontainer { display: none; }
.reviewing #canvas { display: block; }
.reviewing #controls { top: 7%; }
.reviewing #header { display: none;}
.reviewing #backButton {display:none;}
.reviewing #animation { display: none;}
.uploaded #uploaded { top: 15%; }
.uploading #header { display: none;}
.uploading #canvas {display: none;}
.uploading #videocontainer {display: none;}
.uploading #animation { display: block;}
.finished #animation {display: none;}
.finished #videocontainer {display:none;}


